@charset "UTF-8";

@font-face {
    font-family: 'Miller';
    src: url(../paleta_fontes/Miller_Family/fonts/miller_headline_light.otf) format('opentype');
}

:root {
   --roxo: #800080;
   --azul_meia_noite: #051119;
   --branco_bone: #E1E9E5;

   --principal: "Ledger";
   --secundario: "Roboto Flex";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--principal), var(--secundario), sans-serif;
    color: var(--azul_meia_noite);
}

/* HEADER */
header > nav {
    background-color: var(--azul_meia_noite);
}

#logo {
    margin-right: -50px;
    margin-left: -20px;
}

#container_menu > #btn_menu_responsivo {
    font-size: 2.5em;
    color: var(--branco_bone);
}

#container_menu > #btn_menu_responsivo:hover {
    font-weight: bold;
    color: var(--roxo);
    cursor: pointer;
}

#menu_responsivo {
    background-color: #051119;
}

#menu_responsivo > div.offcanvas-header {
    display: flex;
    justify-content: space-between;
    margin: 20px 5px 40px 5px;
}

#menu_responsivo > div.offcanvas-header span {
    color: var(--branco_bone);
    font-size: 2.5em;
}

#menu_responsivo > div.offcanvas-header span:first-child {
    margin-right: 25px;
}

#menu_responsivo > div.offcanvas-header span:hover {
    font-weight: bold;
    color: var(--roxo);
    cursor: pointer;
}

#menu_responsivo > div.offcanvas-body > ul {
    list-style: none;
    padding: 0;
}

#menu_responsivo > div.offcanvas-body > ul > li {
    text-align: center;
}

#menu_responsivo > div.offcanvas-body > ul > li > a {
    font-size: 2em;
    color: var(--branco_bone);
    text-decoration: none;
    margin-bottom: 5px;
}

#menu_responsivo > div.offcanvas-body > ul > li > a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: var(--roxo);
    cursor: pointer;
}

#container_menu > #menu {
    display: none;
}

#container_icones span {
    font-size: 1.9em;
    margin-right: 10px;
    color: var(--branco_bone);
}

#container_icones span:hover {
    font-weight: bold;
    color: var(--roxo);
}

#container_icones span:first-child {
    display: none;
}


main {
    background-color: var(--branco_bone);
}

/* Banner */
#banner {
    background-image: url(../imagens/home/banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 30px;
}


/* Ofertas */
#ofertas {
    background-color: var(--branco_bone);
    margin-bottom: 40px;
}

#ofertas > div > div.presente {
    height: 300px;
    background-image: url(../imagens/home/presente.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

#ofertas > div > div.container_texto {
    text-align: center;
}

#ofertas > div > div.container_texto h2 {
    color: var(--roxo);
    font-size: 1.8em;
    margin-bottom: 15px;
}

#ofertas > div > div.container_texto h1 {
    font-weight: bold;
    font-size: 2.1em;
    margin-bottom: 20px;
}

#ofertas > div > div.container_texto p {
    font-size: 1.3em;
    margin-bottom: 30px;
}

#ofertas > div > div.container_texto p.botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    border: 1px solid var(--azul_meia_noite);
    border-radius: 50px;
    background-color: var(--azul_meia_noite);
    transition: 0.6s all;
}

#ofertas > div > div.container_texto p.botao:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    color: var(--roxo);
    background-color: transparent;
    border: 3px solid var(--azul_meia_noite);
}


/* Destaques */
#destaques {
    margin-bottom: 40px;
}

#destaques > p {
    display: inline-block;
    font-size: 1.1em;
    color: white;
    background-color: var(--azul_meia_noite);
    border: 1px solid var(--azul_meia_noite);
    border-radius: 14px;
    margin-left: 10px;
    margin-bottom: 25px;
    padding: 10px 17px;
}

#carrossel_produtos > button > span {
    border: 1px solid black;
    border-radius: 9px;
    padding: 5px;
    background-color: white;
    color: var(--azul_meia_noite);
}